.header{
    display: 'flex';
    justify-content: 'space-between';
    padding: 20;
    align-items: 'center'
}
#logo {
    flex: 4;
    display: 'flex';
    justify-content: 'flex-start'
}

.navbar {
    flex: 1;
    display: 'flex';
    justify-content: 'space-between'
}